body{
    background-color: hsl(212, 45%, 89%);
}

header{
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    font-size: 20px;
    margin-bottom: -50px;
    margin-left: -38px;
}

img{
    width:250px;
    margin-left: 12px;
    padding-top: 12px;
    border-radius: 50px;
}

main{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 100px;
    margin-left: 520px;
    width: 275px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bldtxt{
    background-color:hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    padding-bottom: -400px;
    
}

.lttxt{
    background-color:hsl(0, 0%, 100%);
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    color:grey;
    font-weight:400;    
}

footer{
    padding: 8px;
    margin-top: 50px;
    margin-right: 40px;
}
